{
  "name": "default",
  "type": "postgres",
  "host": "localhost",
  "port": "5432",
  "username": "postgres",
  "password": "my_postgresql_awesome_password",
  "database": "typegraphql",
  "synchronize": false,
  "logging": true,
  "entities": ["./src/Entity/*.*"],
  "migrationsTableName": "migrations",
  "migrations": ["src/migration/*.*"],
  "cli": {
    "migrationsDir": "src/migration"
  }
}